*{ padding: 0;
margin: 0
}
/*## làm cho không còn khoảng cách trắng giữa những thẻ do máy tự tạo ra nữa
## nói cách khác là tạo khung viền bao quanh chữ nhưng ở lớp dưới tức là chữ hiển thị trên khung 
## và với margin là bao chùm bên ngoài cùng là lớp đầu tiên
## với padding là lớp bên trong của margin và là lớp thứ hai bao phủ bên trên margin
## chữ là lớp thứ ba bao phủ lên hai lớp còn lại*/

/* có thể thêm vào những vùng khác (kết hợp bậc tư duy). Ví dụ cho vào 
nav a {color: white
        padding: 0;
        margin: 0;
}
 */





#menu_text {background-color: #962476;
    text-align: center;
}


nav {background-color: #9bbaba
}


/*### padding ( trái, phải, trên, dưới ) và nó đi cùng với ( số px ) #### */


body { background-color: #6c807e 
}


nav a {color: white
}





